---
import MainLayout from "@/layouts/main-layout.astro";
import CategoryCard from "@/components/cards/category-card.astro";
import { getCategories } from "@/lib/fetchers";

const categories = await getCategories();
---


<MainLayout
  title="Research"
  description=""
  mainClass="container max-w-screen-md py-10"
>
  <section>
    <div class="space-y-6 mb-14">
      <h1 class="font-heading text-4xl text-center">
        Research
      </h1>
      	<p>
      I designed this page to communicate my research in a way that makes sense to a diverse audience. Here, you can explore my publications by navigating different research areas. Within each area, you will find papers and short narratives on the motivation that led me to work on them. In addition, when you click on a publication, you will find more technical information as well as resources such as links to open source code and datasets. These research areas are at different stages of development, so some of them have many publications while others may have one or two. Nevertheless, these are all domains in which I am actively working, so more publications are expected to appear in the future. My intention is to present these works according to how the ideas led me to develop each paper after another, so the publication dates do not reflect the chronological order of the ideas.
</p>

    <br>

    <div
      class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-9 md:gap-y-11 lg:gap-y-16 lg:gap-x-8"
    >
      {categories.map((post, index) => <CategoryCard {...post} index={index} />)}
    </div>
  </section>
</MainLayout>
