---
import ResearchHeader from "@/components/research-header.astro";
import MainLayout from "@/layouts/main-layout.astro";
import CategoryCard from "@/components/cards/category-card.astro";
import { getCategories } from "@/lib/fetchers";

const categories = await getCategories();
---

<MainLayout title="Research">
  <section class="container max-w-screen-md py-10">
    <ResearchHeader
      title="Research"
      description="I designed this page to communicate my research in a way that makes sense to a diverse audience. Here, you can explore my publications by navigating different research areas. Within each area, you will find different papers and short narratives on the motivation and history that led me to work on them. In addition, when you click on a publication item, you will find more technical information as well as resources such as links to open source code and datasets. These research areas are at different stages of development, so some of them have many publications while others may have one or two. Nevertheless, these are all domains in which I am actively working, so more publications are expected to come in the future. My intention is to present these works according to how the ideas led from one paper to another, so the publication dates may seem inconsistent with the ordering of papers."
    />
    <div
      class="grid md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-9 md:gap-y-11 lg:gap-y-16 lg:gap-x-8"
    >
      {categories.map((post, index) => <CategoryCard {...post} index={index} />)}
    </div>
  </section>
</MainLayout>
