---
import MainLayout from "@/layouts/main-layout.astro";
import Link from "@/components/link.astro";
---

<MainLayout
  title="Dissemination"
  description="sads"
  mainClass="container max-w-screen-md py-10"
>
  <section>
    <h1 class="font-heading text-4xl text-center">Dissemination</h1>

    <h2 class="text-xl mt-4">SDG Action (2024): <Link target="_blank" rel="noopener noreferrer" href="https://sdg-action.org/beyond-0-7-measuring-oda-effectiveness/" /></h2>
    <p>Beyond 0.7%: measuring ODA effectiveness.</p>

    <h2 class="text-xl mt-4">Este País (2023): <Link target="_blank" rel="noopener noreferrer" href="https://estepais.com/tendencias_y_opiniones/rezago-tecnico-pandemia/" /></h2>
    <p>El rezago técnico de los gobiernos fue evidenciado por la pandemia.</p>

    <h2 class="text-xl mt-4">IMF Public Financial Management Blog (2022): <Link target="_blank" rel="noopener noreferrer" href="https://blog-pfm.imf.org/en/pfmblog/2022/03/the-sdgs-as-a-bridge-between-pfm-and-artificial-intelligence" text="The SDGs as a Bridge between PFM and Artificial Intelligence" /></h2>
    <p>The SDGs serve an–often not obvious–function of crucial importance to technical teams working on PFMs, thus enabling the application of Artificial Intelligence (AI) to understand the impact of budgeting strategies and policy priorities.</p>
    
    <h2 class="text-xl mt-12 mb-4">UCL Public Policy Blog (2019): <Link target="_blank" rel="noopener noreferrer" href="https://medium.com/policy-postings/reaching-the-sustainable-development-goals-through-computational-social-sciences-3d334313b46c" text="Reaching the Sustainable Development Goals through Computational Social Sciences" /></h2>
    <p>Development indicators are typically used to –ex-post– evaluate outcomes. However, governments could take greater advantage of them, for example, to –ex-ante– understand how some policy priorities are more or less effective in reaching specific development goals.</p>
    
    <h2 class="text-xl mt-12 mb-4">GIFT Blog (2019): <Link target="_blank" rel="noopener noreferrer" href="https://t.co/NDjmsMci8M?amp=1" text="Coupling AI and Sustainable Development Goals through Public Expenditure Data: Why Fiscal Transparency is Crucial to Achieve the 2030 Agenda" /></h2>
    <p>The 2030 Agenda has encouraged the construction of numerous development indicators through which governments can track and evaluate their progress towards the SDGs. Indicators, however, are only one side of the development equation: they constitute the output. However, realistic strategies to reach specific goals of a government cannot be properly designed without information about the input side: public expenditure.</p>
    
    <h2 class="text-xl mt-12 mb-4">GIFT Blog (2019): <Link target="_blank" rel="noopener noreferrer" href="https://t.co/m5xDIDmoU0?amp=1" text="Combinando la Inteligencia Artificial y los Objetivos de Desarrollo Sostenible a través de los datos del gasto público: ¿Por qué la transparencia presupuestaria es crucial para lograr la Agenda 2030?" /></h2>
    <p>La Agenda 2030 ha fomentado la construcción de numerosos indicadores de desarrollo a través de los cuales los gobiernos pueden evaluar y darle seguimiento al progreso hacia los ODS. Sin embargo, los indicadores representan solo un lado de la ecuación del desarrollo: el del producto. El otro lado, el del insumo, se constituye por el gasto público. Sin éste, las estrategias realistas para alcanzar los objetivos específicos de un gobierno no pueden diseñarse adecuadamente.</p>
    
    <h2 class="text-xl mt-12 mb-4">SAGE Ocean Blog (2018): <Link target="_blank" rel="noopener noreferrer" href="https://ocean.sagepub.com/blog/2018/8/29/agent-computing-in-economics-a-rough-path-towards-policy-applications" text="Agent Computing in Economics: A Rough Path Towards Policy Applications" /></h2>
    <p>Agent computing is a simulation tool that has been successfully adopted in many fields where policy interventions are critical. Economics, however, has failed in doing so. Today, there are new opportunities for bringing agent computing into economic policy. In this post, I discuss why this technology has not been adopted for economic policy and point out new opportunities to do it.</p>
    
    <h2 class="text-xl mt-12 mb-4">SAGE Ocean Blog (2018): <Link target="_blank" rel="noopener noreferrer" href="https://ocean.sagepub.com/blog/2018/8/29/at-last-agent-computing-for-economics-policy" text="At Last! Agent Computing for Economics Policy" /></h2>
    <p>Today, there is a new window of opportunity to adopt agent computing as a mainstream analytic tool in economics. Here, I discuss four major aspects in which this technology can improve economic policymaking: causality and detail, scalability and response, unobservability and counterfactuals, and separating design from implementation. In addition, I highlight the crucial role that policy agencies and research funders have in this endeavor by supporting a new generation of computationally-enabled social scientists.</p>
    
    <h2 class="text-xl mt-12 mb-4">CEEY Blog (2018): <Link target="_blank" rel="noopener noreferrer" href="https://ceey.org.mx/los-modelos-computacionales-las-politicas-publicas-y-la-movilidad-social/?utm_source=twitter&amp;utm_medium=socialmedia&amp;utm_campaign=politicaspublicas&amp;utm_content=blogpost" text="Los modelos computacionales, las políticas públicas y la movilidad social" /></h2>
    <p>Las políticas públicas, y en particular la política económica, trastocan fenómenos complejos como la movilidad social y la desigualdad, los cuales van más allá de los intereses típicos de la mayoría de los economistas. Conscientes de ello, uno supondría que, tras estar casi dos décadas adentrados en el siglo XXI, los diseñadores y hacedores de la política económica informan sus decisiones a través de sofisticados modelos computacionales que simulan las interacciones, las decisiones de consumo y producción, la movilidad geográfica, etc., de hogares y empresas. Dicho supuesto no es algo descabellado, pues en muchos países diversas decisiones de política pública fuera del ámbito económico se apoyan en este tipo de herramienta.</p>
  </section>
</MainLayout>
