---
import MainLayout from "@/layouts/main-layout.astro";
import Book from '../content/book_cover.png';
import { Image } from "astro:assets";
---

<MainLayout title="Home">
  <section class="container py-10">
    <div
      class="leading-normal sm:text-xl sm:leading-8 text-balance"
    >
      	<p class="mb-4">
      I am the Head of Computational Social Science Research of The Alan Turing Institute, the UK's national institute for data science and artificial intelligence. At the Turing, I have the privilege of leading the <a target="_blank" href="https://turingcss.org">Computational Social Science Group</a>. I enjoy studying problems related to economics and policy interventions. While most of my work is usually motivated from a research point of view, I always try to transform it into tools that are useful to economists in governments departments, regulators, local authorities, and international organisations. By doing so, I not only try to generate real-work impact, but also to push for a normalisation in the use of computational methods in the social sciences. Currently, I work on topics related to labour mobility, sustainable development, government behaviour, technological change, housing markets, and wealth inequality.  However, I constantly engage on new projects and like to learn from peers with expertise outside economics, both topically and methodologically.
	</p>
	
	<p class="mb-4">
	I am an economist with an interdisciplinary PhD in Computational Social Science (CSS). When I decided to go to graduate school, I wanted to continue in economics, but I also wanted to learn methods stemming from computer science and computational statistics. Unfortunately, economics departments did not seem to provide the right mix of skills, so I took my chances and enrolled in the first CSS PhD programme in the world, which was created at George Mason University. There, I was able to continue doing the economics coursework and research, while also gained the best possible training in CSS and its foundations. This was partly because I was fortunate enough to land under the supervision of a pioneer in the field: <a target="_blank" href="https://scholar.google.com/citations?user=K822uYQAAAAJ">Rob Axtell</a>. Before joining the Turing, I was a Senior Research Fellow at Oxford's Institute for New Economic Thinking, then at Oxford's Saïd Business School, and subsequently at UCL's Department of Economics. I am know very well the struggles that students undergo when trying to find programmes that can teach them proper CSS and to use computational methods to push the boundaries of social sciences. Thus, feel free to reach out if you need advice.
	</p>

      <p class="mb-4">
	If you are interested in the Policy Priority Inference programme of research, please visit its official website: <a target="_blank" href="https://policypriority.org">policypriority.org</a>. Finally, if you are interested in complexity economics, computational social science, or development economics, check out my book:
      </p>

      <p class="text-balance">
        <a class="font-bold" target="_blank" rel="noopener noreferrer" href="https://www.cambridge.org/gb/universitypress/subjects/economics/economic-development-and-growth/complexity-economics-and-sustainable-development-computational-framework-policy-priority-inference?format=PBg">Complexity Economics and Sustainable Development: A Computational Framework for Policy Priority Inference</a>
        <Image
          src={Book}
          alt="Complexity Economics and Sustainable Development: A Computational Framework for Policy Priority Inference"
          class="mr-4"
        />
      </p>

  </section>
</MainLayout>
