---
import MainLayout from "@/layouts/main-layout.astro";
import Book from '../content/book_cover.png';
import { Image } from "astro:assets";
---

<MainLayout
  title="Home"
  description=""
  mainClass="container max-w-screen-md py-10"
>
  <section>
    <div class="space-y-6 mb-14">
      <h1 class="font-heading text-4xl text-center">
        Home
      </h1>
      	<p>
      I work as a University Lecturer in Social Data Science at the University of Helsinki.
I enjoy studying problems related to economics and policy interventions.
While most of my work is usually motivated from a research point of view, I frequently transform it into tools that are useful to economists in government departments, regulators, local authorities, and international organisations. 
By doing so, I not only try to generate real-work impact, but also to push for a normalisation in the use of computational methods in the social sciences.
Currently, I work on topics related to labour markets, global development, housing markets, productivity, and government behaviour.
	</p>
	
<!--	<p>
	I am an economist with an interdisciplinary PhD in Computational Social Science (CSS). When I decided to go to graduate school, I wanted to continue in economics, but I also wanted to learn methods stemming from computer science and computational statistics. Unfortunately, economics departments did not seem to provide the right mix of skills, so I took my chances and enrolled in the first CSS PhD programme in the world, which was created at George Mason University. There, I was able to continue doing the economics coursework and research, while also gained the best possible training in CSS and its foundations. This was partly because I was fortunate enough to land under the supervision of a pioneer in the field: <a class="font-bold" target="_blank" href="https://scholar.google.com/citations?user=K822uYQAAAAJ">Rob Axtell</a>. Before joining the University of Helsinki, I was a Senior Research Fellow at Oxford's Institute for New Economic Thinking, then at Oxford's Saïd Business School, later at UCL's Department of Economics, and lastly I acted as Head and then Director of Computational Social Science Research at The Alan Turing Institute. I know very well the struggles that students undergo when trying to find programmes that can teach them proper CSS and to use computational methods to push the boundaries of social sciences. Thus, feel free to reach out if you need advice (please use email as I rarely check messages in social media platforms).
	</p> -->

<p>
I am an economist with an interdisciplinary PhD in Computational Social Science (CSS).
Before joining the University of Helsinki, I worked at the University of Oxford as a Research Fellow in the Institute for New Economic Thinking and the Saïd Business School.
Then, I held a joint appointment as Senior Research Fellow at University College London's Department of Economics and The Alan Turing Institute.
Eventually, I transitioned full time to the Turing Institute, where I was the Head and then the Director of Computational Social Science Research. 
Currently, I also hold an Honorary Senior Research Fellowship at UCL's Faculty of Laws, and an External Fellowship in the Centro de Estudios Espinosa Yglesias.
</p>

<p>
A substantial part of my work consists of transforming academic research into real-world tools, so I often collaborate with governments from different countries and major international organisations such as the UNDP, UNICEF, the World Bank and the IMF among several others.
While I am passionate about developing frontier CSS research and translating it into policy tools, sharing my knowledge and experience through teaching is something I consider crucial to advance the social sciences.
For this reason, I decided to return to a university setting, this time in the happiest country in the world, which is where I conducted the very first research that initiated the field of labour flow networks more than a decade ago.
As an interdisciplinary scholar, I know very well the struggles that students undergo when trying to find programmes that can teach them proper CSS and how to use computational methods to address complex socioeconomic problems.
Hence I am currently working on developing teaching curricula at the Centre for Social Data Science in the University of Helsinki.
If you are interested in conducting graduate studies under my supervision or simply need advice about the CSS landscape, feel free to reach out.
</p>

      <p>
You can find the open source code of all my projects in my GitHub at the bottom of this website.
Alternatively, if you wish to learn about the <a class="font-bold">Policy Priority Inference</a> programme of research, please visit its official website: <a class="font-bold" target="_blank" href="https://policypriority.org">policypriority.org</a>. 
Finally, if you are interested in complexity economics, computational social science, or development economics, take a look at my open-access book:
      </p>

      <p>
        <a class="font-bold" target="_blank" rel="noopener noreferrer" href="https://www.cambridge.org/gb/universitypress/subjects/economics/economic-development-and-growth/complexity-economics-and-sustainable-development-computational-framework-policy-priority-inference?format=PBg">Complexity Economics and Sustainable Development: A Computational Framework for Policy Priority Inference</a>
        <Image
          src={Book}
          alt="Complexity Economics and Sustainable Development: A Computational Framework for Policy Priority Inference"
          class="mr-4"
        />
      </p>

  </section>
</MainLayout>
