---
import MainLayout from "@/layouts/main-layout.astro";
import Book from '../content/book_cover.png';
import { Image } from "astro:assets";
---

<MainLayout title="Astronomy">
  <section class="container flex max-w-[42rem] flex-col items-center pt-8">
    <div
      class="leading-normal sm:text-xl sm:leading-8 text-balance"
    >
      	<p class="mb-4">
      I am the Head of Computational Social Science Research of The Alan Turing Institute and I have the privilege of leading the <a target="_blank" href="https://turingcss.org">Computational Social Science Group</a> of the Institute. I work on problems related to economics and policy interventions, and I try to transform much of this research into tools that are useful to economists in governments and international organisations. Currently, I work on topics related to labour mobility, sustainable development, public administration, technological change, housing markets, and wealth inequality. I like to deploy a variety of methods to 
	</p>
	
	<p class="mb-4">
	I am an economist with an interdisciplinary PhD in Computational Social Science Group (CSS). When I decided to go to graduate school, I wanted to continue doing economics and learn more up-to-date computational methods. Unfortunately, no economics department was able to offer such skills, so I embarked in the first CSS PhD programme in the world while continued to do the core Econ coursework and research. I was very fortunate to land under the supervision of one of the pioneers in the field: <a target="_blank" href="https://scholar.google.com/citations?user=K822uYQAAAAJ">Rob Axtell</a>. Before joining the Turing, I was a Senior Research Fellow at Oxford's Institute for New Economic Thinking and then at UCL's Department of Economics. I am very familiar with the obstacles that students undergo when trying to find programmes that can teach them computational methods, so feel free to reach out if you need advice.
	</p>


      <p class="mb-4">
        If you are interested in complexity economics, computational social science, or development economics, check out my book:
      </p>

      <p class="text-balance">
        <a class="font-bold" target="_blank" rel="noopener noreferrer" href="https://www.cambridge.org/gb/universitypress/subjects/economics/economic-development-and-growth/complexity-economics-and-sustainable-development-computational-framework-policy-priority-inference?format=PBg">Complexity Economics and Sustainable Development: A Computational Framework for Policy Priority Inference</a>
        <Image
          src={Book}
	target="_blank"
	href="https://www.cambridge.org/gb/universitypress/subjects/economics/economic-development-and-growth/complexity-economics-and-sustainable-development-computational-framework-policy-priority-inference?format=PBg"
          alt="Complexity Economics and Sustainable Development: A Computational Framework for Policy Priority Inference"
          class="mr-4"
        />
      </p>

  </section>
</MainLayout>
