---
import Link from "@/components/link.astro";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="Press"
  description="My videos"
  mainClass="container py-10"
>
  <section>
    <div class="space-y-6 mb-14">
      <h1 class="font-heading text-4xl text-center">
        Press and media coverage
      </h1>
      <ul class="list-disc px-6 space-y-4">
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.economist.com/the-world-ahead/2020/11/17/how-computer-simulations-can-help-shape-economic-policy" text={`The Economist (2020) <i>How computer simulations can help shape economic policy</i>`} />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.wired.co.uk/article/un-computer-simulation" text="Wired UK (2020) <i>To save the world, the UN is turning it into a computer simulation</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.technologyreview.com/2020/05/29/1002404/united-nations-computer-agents-simulation-boost-global-sustainable-development-goals" text="MIT Technology Review (2020) <i>The UN says a new computer simulation tool could boost global development</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.elmundo.es/papel/historias/2020/08/20/5f3e9c67fdddff9d1e8b4599.html" text="El Mundo (2020) <i>Cómo usar la inteligencia artificial para mejorar el mundo</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.aithority.com/computing/govtech/the-alan-turing-inst-and-the-un-develop-policy-priority-inference" text="AITHORITY (2020) <i>The Alan Turing Inst. and the UN Develop Policy Priority Inference Technology for Sustainable Future</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.smartcitylab.com/blog/governance-finance/computerized-simulation-global-development/" text="Tomorrow.mag (2020) <i>The UN endorses a computerized simulation to increase the level of global development</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.publico.pt/2020/06/03/tecnologia/noticia/onu-quer-usar-inteligencia-artificial-ajudar-paises-combater-pobreza-desigualdade-genero-1919163" text="Público (2020) <i>ONU quer usar inteligência artificial para ajudar países a combater pobreza e desigualdade de género</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="http://knock-on-wood.over-blog.com/2020/06/the-united-nations-un-has-partnered-with-the-alan-turing-institute-to-create-a-novel-approach-towards-sustainable-economics-using-po" text="Knock on Wood (2020) <i>L'institut Alan Turing. et l'ONU développent une technologie d'inférence de priorités politiques pour un avenir durable</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="http://sdg.iisd.org/news/tools-support-policy-makers-efforts-to-prioritize-multiple-goals/" text="IISD (2020) <i>Tools Support Policy Makers’ Efforts to Prioritize Multiple Goals</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.vontobel.com/en-int/impact/test-first-then-invest-un-budget-simulation-to-tackle-sdg-agenda-21169/" text="Vontobel (2020) <i>Test first, then invest: UN budget simulation to tackle SDG agenda</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.myscience.org/news/wire/new_policy_priority_tool_to_supercharge_sustainable_development-2020-UCL" text="My Science (2020) <i>New policy priority tool to supercharge sustainable development</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="http://www.diariodetabasco.mx/escenario-politico/2019/12/04/presentan-herramientas-planear-desarrollo-sustentable/" text="Diario de Tabasco (2020) <i>Presentan herramientas para planear desarrollo sustentable</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.posibl.com/es/news/sociedad/como-es-el-sistema-computacional-que-promueve-la-onu-para-combatir-la-desigualdad-en-el-mundo-220a83a4" text="Posibl. (2020) <i>Cómo es el sistema computacional que promueve la ONU para combatir la desigualdad en el mundo</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.co.undp.org/content/colombia/es/home/presscenter/articles/2020/06/pnud-utiliza-inteligencia-artificial--ciencias-de-redes-y-cienci.html" text="PNUD (2020) <i>PNUD utiliza Inteligencia Artificial, ciencias de redes y ciencias sociales computacionales para orientar prioridades de política pública en el marco de los ODS</i>" />
        </li>
        <li>
          <Link target="_blank" rel="noopener noreferrer" href="https://www.infobae.com/america/tecno/2020/06/02/como-funciona-el-sistema-computacional-que-promueve-la-onu-para-combatir-la-desigualdad-en-el-mundo/" text="Infobae (2020) Cómo funciona el sistema computacional que promueve la ONU para combatir la desigualdad en el mundo" />
        </li>
      </ul>
    </div>
  </section>
</MainLayout>
