---
import FaqSection from "@/components/faq-section";
import MainLayout from "@/layouts/main-layout.astro";
---

<MainLayout
  title="Video"
  description="My videos"
  mainClass="container max-w-screen-md py-10"
>
  <section>
    <div class=" space-y-6 text-center mb-14">
      <h1 class="font-heading text-4xl text-center">
        Video
      </h1>
      <p>Explainer video: Policy Priority Inference (click  <a href="https://youtu.be/XxJm_9hsAVM">here</a>  for video in Spanish)</p>
<iframe src="https://www.youtube.com/embed/h3H6tUaDkvE" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

<p>Innovations in using budget analysis to inform decision making for SDGs<br />Global Initiative for Fiscal Transparency, 2019</p>
<iframe src="https://www.youtube.com/embed/z8YmYZ-Scxw" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

<p>How Can Data Science Help Us Create Better Public Policy?<br />CogX, 2019</p>
<iframe src="https://www.youtube.com/embed/RZYHbabJFbg" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

<p>Policy Priority Inference for Sustainable Development<br />The Alan Turing Institute, 2019</p>
<iframe src="https://www.youtube.com/embed/OVE_mjp3Fxs" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

<p>Datos Masivos, Cómputo, y la Ciencia Económica en el Contexto de las Políticas de Desarrollo<br />El Colegio de México &amp; INEGI, 2019</p>
<iframe src="https://www.youtube.com/embed/tYuiBsRU1HA" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

<p>Retos de Competencia en el Entorno Digital<br />Instituto Federal de Telecomunicaciones, 2018</p>
<iframe src="https://www.youtube.com/embed/W8J-WwqdG9E?start=18256" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>

<p>The Network Composition of Aggregate Unemployment<br />Saïd Business School, University of Oxford, 2016</p>
<iframe src="https://www.youtube.com/embed/nl8C5MzMmvE" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
    </div>
  </section>
</MainLayout>
